* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-color: gainsboro;
}

h1 {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  margin-top: 2rem;
}
.add-todos-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.all-todos {
  background-color: rgb(210, 213, 225);
}
.todo-list {
  list-style: none;
  padding: 1rem;
  margin: 1.5rem;
  background-color: rgb(181, 192, 234);
  box-shadow: 2px 2px 2px 2px rgb(174, 172, 172);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 30px;
}

.bx {
  font-size: 30px;
}

.remove-todo-button,
.edit-todo-button,
#submit-todo-button {
  background: none;
  border: none;
  cursor: pointer;
}

.todoText {
  padding: 0rem 1rem 0rem 1rem;
}
[contenteditable="true"] {
  outline: none;
}

.delete-all-form {
  display: none;
  width: 350px;
  height: 150px;
  background-color: rgb(164, 160, 155);
  position: absolute;
  left: 25%;
  top: 25%;
}
.form-wrapper > p {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}
.button-wrapper {
padding: 1rem;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}

#cancel-form-button,
#delete-all {
  padding: 0.2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
